.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    max-width: 90%;
    margin: 25px auto;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (min-width: 768px) {
    .search-bar {
        max-width: 500px;
    }
}

.search-bar form {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input[type="search"] {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    color: white;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.search-bar input[type="search"]:focus {
    outline: none;
}

.search-bar:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.search-bar:focus-within {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

::selection {
    background-color: #d9a337;
    color: black;
}

.javakov {
    color: white;
    font-size: 24px;
    display: inline-block;
    width: 100%
}

.keystore {
    color: #d9a337;
    font-size: 24px;
    display: inline-block;
    width: 100%
}

@media (max-width: 1500px) {
    .javakov, .keystore {
        font-size: 1.5rem;
    }
}

.redirect {
    text-decoration: none;
}
