<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/search_view.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title th:text="${title}"></title>
</head>
<body>

<div class="margin">
    <div class="search-bar">
        <a class="redirect" href="/">
            <span class="ubuntu-medium javakov">Javakov</span>
            <span class="ubuntu-regular keystore">Key Store</span>
        </a>
        <form th:action="@{/search}" method="get">
            <label>
                <input id="searchInput" class="ubuntu-regular" type="search" name="name" placeholder="Поиск...">
            </label>
        </form>
    </div>
</div>

<div class="cards-container">
    <div id="cardsContainer" class="container">
        <div class="card" th:each="game : ${games}">
            <div class="card__title ubuntu-medium">
                <span th:text="${game.name}"></span>
            </div>
            <img th:src="${game.imgUrl}" class="card__image" alt="">
            <div class="card__price ubuntu-regular">
                <span th:text="'₽' + ${game.price}"></span>
            </div>
        </div>
    </div>
</div>

<a class="margin link" href="https://javakov.github.io/me/" target="_blank">
    <div class="footer ubuntu-regular">© 2024 Javakov</div>
</a>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get('name');

    if (searchQuery) {
        document.getElementById('searchInput').value = searchQuery;
    }
</script>

</body>
</html>