<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="b-ourchoise__slide" style="width: 100%; display: inline-block;">
    <a class="b-ourchoise-item b-ourchoise-item--half show" href="/game/borderlands-the-handsome-collection" tabindex="0">
        <div class="b-ourchoise-item__image"><img src="https://static.gabestore.ru/product/800x300_f6RU0OqkTBAGOmNoILAL3A5NnWlGV7yy.jpg" alt=""></div>
        <div class="b-ourchoise-item__container">
            <div class="b-ourchoise-item__info">
                <div class="b-ourchoise-item__title">Borderlands: The Handsome Collection</div>
                <div class="b-ourchoise-item__price">
                    <div class="b-ourchoise-item__price-current">1199 ₽</div>
                    <div class="b-ourchoise-item__price-discount">-30%</div> <div class="btn btn--primary js-addToCart " data-href="/basket" data-item-id="2345">В&nbsp;корзину</div> </div>
            </div>
        </div>
    </a>
    <a class="b-ourchoise-item show" href="/game/devil-may-cry-5" tabindex="0">
        <div class="b-ourchoise-item__image"><img src="https://static.gabestore.ru/product/800x600_Vq5nSjzDI0Lh6xaHXFHLKMCI3miaP5gy.jpg" alt=""></div>
        <div class="b-ourchoise-item__container">
            <div class="b-ourchoise-item__info">
                <div class="b-ourchoise-item__title">Devil May Cry 5 + Vergil</div>
                <div class="b-ourchoise-item__price">
                    <div class="b-ourchoise-item__price-current">999 ₽</div>
                    <div class="btn btn--primary js-addToCart " data-href="/basket" data-item-id="1918">В&nbsp;корзину</div> </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>